<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pk.infra.credit.mapper.CreditStatusHistoryMapper">

    <insert id="insert">
        INSERT INTO credit_status_history (
            credit_application_id,
            mobile_no,
            from_status,
            to_status,
            external_status,
            source
        ) VALUES (
            #{creditApplicationId},
            #{mobileNo},
            #{fromStatus},
            #{toStatus},
            #{externalStatus},
            #{source}
        )
    </insert>
</mapper>
