<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pk.infra.repay.mapper.RepaymentTrialSnapshotMapper">
<resultMap id="trialMap" type="com.pk.core.repay.port.RepaymentTrialSnapshotRepository$TrialSnapshotRecord">
<constructor>
<arg column="id" javaType="_long"/>
<arg column="trial_no" javaType="string"/>
<arg column="user_id" javaType="_long"/>
<arg column="trial_type" javaType="string"/>
<arg column="total_bill_count" javaType="java.lang.Integer"/>
<arg column="total_should_amount" javaType="java.math.BigDecimal"/>
<arg column="total_reduction_amount" javaType="java.math.BigDecimal"/>
<arg column="total_paid_amount" javaType="java.math.BigDecimal"/>
<arg column="external_interaction_id" javaType="java.lang.Long"/>
<arg column="created_at" javaType="java.time.Instant" typeHandler="com.pk.infra.mybatis.typehandler.InstantTypeHandler"/>
</constructor>
</resultMap>
<insert id="insertSnapshot" useGeneratedKeys="true" keyProperty="id" keyColumn="id">INSERT INTO repayment_trial_snapshot
(trial_no,
user_id,
trial_type,
total_bill_count,
total_should_amount,
total_reduction_amount,
total_paid_amount,
default_va_no,
default_va_bank_code,
default_va_bank_name,
default_va_bank_type,
default_va_icon,
default_va_default_flag,
default_va_disabled,
default_va_show,
spare_va_no,
spare_va_bank_code,
spare_va_bank_name,
spare_va_bank_type,
spare_va_icon,
spare_va_default_flag,
spare_va_disabled,
spare_va_show,
disabled_default_va_no,
disabled_default_va_bank_code,
disabled_default_va_bank_name,
disabled_default_va_bank_type,
disabled_default_va_icon,
disabled_default_va_default_flag,
disabled_default_va_disabled,
disabled_default_va_show,
external_interaction_id)
VALUES (#{trialNo},
#{userId},
#{trialType},
#{totalBillCount},
#{totalShouldAmount},
#{totalReductionAmount},
#{totalPaidAmount},
#{defaultVaNo},
#{defaultVaBankCode},
#{defaultVaBankName},
#{defaultVaBankType},
#{defaultVaIcon},
#{defaultVaDefaultFlag,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{defaultVaDisabled,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{defaultVaShow,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{spareVaNo},
#{spareVaBankCode},
#{spareVaBankName},
#{spareVaBankType},
#{spareVaIcon},
#{spareVaDefaultFlag,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{spareVaDisabled,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{spareVaShow,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{disabledDefaultVaNo},
#{disabledDefaultVaBankCode},
#{disabledDefaultVaBankName},
#{disabledDefaultVaBankType},
#{disabledDefaultVaIcon},
#{disabledDefaultVaDefaultFlag,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{disabledDefaultVaDisabled,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{disabledDefaultVaShow,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{externalInteractionId})</insert>
<insert id="insertOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id">INSERT INTO repayment_trial_order
(trial_id,
loan_application_id,
loan_apply_id,
loan_apply_no,
bill_no,
settle,
term_nos_json,
should_amount,
bill_status,
name,
user_id,
adv_sette_flag,
currency,
apply_amt,
apply_time,
audit_time,
loan_time,
loan_days,
repay_method_type,
schd_amount,
schd_stamp_duty,
schd_principal,
schd_interest,
schd_fee1,
schd_fee2,
schd_fee3,
schd_fee1_tax,
schd_fee2_tax,
schd_fee3_tax,
pre_pen_interest,
pen_interest,
init_late_fee,
should_stamp_duty,
should_principal,
should_interest,
fee1_name,
should_fee1,
fee2_name,
should_fee2,
fee3_name,
should_fee3,
should_fee1_tax,
should_fee2_tax,
should_fee3_tax,
should_fee,
should_pen_interest,
should_init_late_fee,
should_adv_settle_fee,
should_penalty,
reduction_amount,
reduction_stamp_duty,
reduction_principal,
reduction_interest,
reduction_fee1,
reduction_fee2,
reduction_fee3,
reduction_fee1_tax,
reduction_fee2_tax,
reduction_fee3_tax,
reduction_pen_interest,
reduction_init_late_fee,
coupon_amount,
part_repay_flag,
paid_amount,
coupon_id,
coupon_type,
coupon_name,
user_valide_dis_time,
term_no,
term_due_date,
default_va_no,
default_va_bank_code,
default_va_bank_name,
default_va_bank_type,
default_va_icon,
default_va_default_flag,
default_va_disabled,
default_va_show,
spare_va_no,
spare_va_bank_code,
spare_va_bank_name,
spare_va_bank_type,
spare_va_icon,
spare_va_default_flag,
spare_va_disabled,
spare_va_show,
disabled_default_va_no,
disabled_default_va_bank_code,
disabled_default_va_bank_name,
disabled_default_va_bank_type,
disabled_default_va_icon,
disabled_default_va_default_flag,
disabled_default_va_disabled,
disabled_default_va_show)
VALUES (#{trialId},
#{loanApplicationId},
#{loanApplyId},
#{loanApplyNo},
#{billNo},
#{settle,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{termNosJson},
#{shouldAmount},
#{billStatus},
#{name},
#{userId},
#{advSetteFlag},
#{currency},
#{applyAmt},
#{applyTime,typeHandler=com.pk.infra.mybatis.typehandler.InstantTypeHandler},
#{auditTime,typeHandler=com.pk.infra.mybatis.typehandler.InstantTypeHandler},
#{loanTime,typeHandler=com.pk.infra.mybatis.typehandler.InstantTypeHandler},
#{loanDays},
#{repayMethodType},
#{schdAmount},
#{schdStampDuty},
#{schdPrincipal},
#{schdInterest},
#{schdFee1},
#{schdFee2},
#{schdFee3},
#{schdFee1Tax},
#{schdFee2Tax},
#{schdFee3Tax},
#{prePenInterest},
#{penInterest},
#{initLateFee},
#{shouldStampDuty},
#{shouldPrincipal},
#{shouldInterest},
#{fee1Name},
#{shouldFee1},
#{fee2Name},
#{shouldFee2},
#{fee3Name},
#{shouldFee3},
#{shouldFee1Tax},
#{shouldFee2Tax},
#{shouldFee3Tax},
#{shouldFee},
#{shouldPenInterest},
#{shouldInitLateFee},
#{shouldAdvSettleFee},
#{shouldPenalty},
#{reductionAmount},
#{reductionStampDuty},
#{reductionPrincipal},
#{reductionInterest},
#{reductionFee1},
#{reductionFee2},
#{reductionFee3},
#{reductionFee1Tax},
#{reductionFee2Tax},
#{reductionFee3Tax},
#{reductionPenInterest},
#{reductionInitLateFee},
#{couponAmount},
#{partRepayFlag},
#{paidAmount},
#{couponId},
#{couponType},
#{couponName},
#{userValideDisTime},
#{termNo},
#{termDueDate,typeHandler=com.pk.infra.mybatis.typehandler.InstantTypeHandler},
#{defaultVaNo},
#{defaultVaBankCode},
#{defaultVaBankName},
#{defaultVaBankType},
#{defaultVaIcon},
#{defaultVaDefaultFlag,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{defaultVaDisabled,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{defaultVaShow,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{spareVaNo},
#{spareVaBankCode},
#{spareVaBankName},
#{spareVaBankType},
#{spareVaIcon},
#{spareVaDefaultFlag,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{spareVaDisabled,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{spareVaShow,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{disabledDefaultVaNo},
#{disabledDefaultVaBankCode},
#{disabledDefaultVaBankName},
#{disabledDefaultVaBankType},
#{disabledDefaultVaIcon},
#{disabledDefaultVaDefaultFlag,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{disabledDefaultVaDisabled,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler},
#{disabledDefaultVaShow,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler})</insert>
<insert id="insertTerm" useGeneratedKeys="true" keyProperty="id" keyColumn="id">INSERT INTO repayment_trial_term
(trial_order_id,
bill_no,
loan_apply_no,
term_no,
adv_sette_flag,
schd_amount,
schd_stamp_duty,
schd_principal,
schd_interest,
schd_all_fee,
schd_all_tax_fee,
schd_fee1,
schd_fee2,
schd_fee3,
schd_fee1_tax,
schd_fee2_tax,
schd_fee3_tax,
pre_pen_interest,
pen_interest,
init_late_fee,
due_date,
overdue_days,
grace_date,
term_status,
days_of_due_date,
should_amount,
should_stamp_duty,
should_principal,
should_interest,
should_fee1,
should_fee2,
should_fee3,
should_fee1_tax,
should_fee2_tax,
should_fee3_tax,
should_pen_interest,
should_init_late_fee,
part_repay_flag,
paid_amount,
coupon_discount,
reduction_amount)
VALUES (#{trialOrderId},
#{billNo},
#{loanApplyNo},
#{termNo},
#{advSetteFlag},
#{schdAmount},
#{schdStampDuty},
#{schdPrincipal},
#{schdInterest},
#{schdAllFee},
#{schdAllTaxFee},
#{schdFee1},
#{schdFee2},
#{schdFee3},
#{schdFee1Tax},
#{schdFee2Tax},
#{schdFee3Tax},
#{prePenInterest},
#{penInterest},
#{initLateFee},
#{dueDate,typeHandler=com.pk.infra.mybatis.typehandler.InstantTypeHandler},
#{overdueDays},
#{graceDate,typeHandler=com.pk.infra.mybatis.typehandler.InstantTypeHandler},
#{termStatus},
#{daysOfDueDate},
#{shouldAmount},
#{shouldStampDuty},
#{shouldPrincipal},
#{shouldInterest},
#{shouldFee1},
#{shouldFee2},
#{shouldFee3},
#{shouldFee1Tax},
#{shouldFee2Tax},
#{shouldFee3Tax},
#{shouldPenInterest},
#{shouldInitLateFee},
#{partRepayFlag},
#{paidAmount},
#{couponDiscount},
#{reductionAmount})</insert>
<insert id="insertTermDiscount">INSERT INTO repayment_trial_term_discount
(trial_term_id,
reduction_all_amt,
reduction_type,
reduction_stamp_duty,
reduction_principal,
reduction_interest,
reduction_fee1,
reduction_fee2,
reduction_fee3,
reduction_fee1_tax,
reduction_fee2_tax,
reduction_fee3_tax,
reduction_pen_interest,
reduction_init_late_fee,
coupon_id,
coupon_type)
VALUES (#{trialTermId},
#{reductionAllAmt},
#{reductionType},
#{reductionStampDuty},
#{reductionPrincipal},
#{reductionInterest},
#{reductionFee1},
#{reductionFee2},
#{reductionFee3},
#{reductionFee1Tax},
#{reductionFee2Tax},
#{reductionFee3Tax},
#{reductionPenInterest},
#{reductionInitLateFee},
#{couponId},
#{couponType})</insert>
<insert id="insertVaChannel">INSERT INTO repayment_trial_va_channel
(owner_type,
owner_id,
va_role,
bank_channel,
instruction,
default_channel)
VALUES (#{ownerType},
#{ownerId},
#{vaRole},
#{bankChannel},
#{instruction},
#{defaultChannel,typeHandler=com.pk.infra.mybatis.typehandler.BooleanTinyintTypeHandler})</insert>
<select id="findByTrialNo" resultMap="trialMap">SELECT id,
trial_no,
user_id,
trial_type,
total_bill_count,
total_should_amount,
total_reduction_amount,
total_paid_amount,
external_interaction_id,
created_at
FROM repayment_trial_snapshot
WHERE trial_no=#{trialNo}</select>
</mapper>
