<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pk.infra.profile.mapper.ProfileContactMapper">

    <resultMap id="moduleMap" type="com.pk.core.profile.ProfileContactsModuleData">
        <constructor>
            <arg column="profile_id" javaType="_long"/>
            <arg column="mobile_no" javaType="string"/>
            <arg column="module_status" javaType="string"/>
            <arg column="last_request_id" javaType="string"/>
            <arg column="external_interaction_id" javaType="java.lang.Long"/>
        </constructor>
    </resultMap>

    <resultMap id="contactMap" type="com.pk.core.profile.ProfileContactData">
        <constructor>
            <arg column="mobile_no" javaType="string"/>
            <arg column="sort_no" javaType="_int"/>
            <arg column="relationship" javaType="_int"/>
            <arg column="contact_name" javaType="string"/>
            <arg column="contact_mobile" javaType="string"/>
        </constructor>
    </resultMap>

    <select id="findModuleByProfileId" resultMap="moduleMap">
        SELECT profile_id, mobile_no, module_status, last_request_id,
               external_interaction_id
        FROM user_profile_contacts
        WHERE profile_id = #{profileId}
    </select>

    <select id="findContactsByProfileId" resultMap="contactMap">
        SELECT mobile_no, sort_no, relationship, contact_name, contact_mobile
        FROM user_profile_contact
        WHERE profile_id = #{profileId}
        ORDER BY sort_no
    </select>

    <insert id="upsertModule">
        INSERT INTO user_profile_contacts (profile_id, mobile_no, module_status, last_request_id)
        VALUES (#{profileId}, #{mobileNo}, #{moduleStatus}, #{lastRequestId})
        ON DUPLICATE KEY UPDATE
            mobile_no = VALUES(mobile_no),
            module_status = VALUES(module_status),
            last_request_id = VALUES(last_request_id)
    </insert>

    <delete id="deleteContactsByProfileId">
        DELETE FROM user_profile_contact WHERE profile_id = #{profileId}
    </delete>

    <insert id="insertContact">
        INSERT INTO user_profile_contact (
            profile_id, mobile_no, sort_no, relationship, contact_name, contact_mobile
        ) VALUES (#{profileId}, #{mobileNo}, #{sortNo}, #{relationship}, #{contactName}, #{contactMobile})
    </insert>

        <update id="updateLastLenderInteraction">
        UPDATE user_profile_contacts
        SET external_interaction_id = #{externalInteractionId}
        WHERE profile_id = #{profileId}
    </update>
</mapper>
