<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pk.infra.profile.mapper.UserProfileBindingMapper">
    <update id="recordLenderProfileSyncWithExternalUser">
        UPDATE user_profile SET external_user_id = #{externalUserId}, last_synced_at = CURRENT_TIMESTAMP(3)
        WHERE id = #{profileId} AND deleted_at IS NULL
    </update>
    <update id="recordLenderProfileSyncWithoutExternalUser">
        UPDATE user_profile SET last_synced_at = CURRENT_TIMESTAMP(3) WHERE id = #{profileId} AND deleted_at IS NULL
    </update>
    <update id="updateKycStatus">
        UPDATE user_profile SET kyc_status = #{kycStatus}, updated_at = CURRENT_TIMESTAMP(3)
        WHERE id = #{profileId} AND deleted_at IS NULL
    </update>
    <update id="closeAccount">
        UPDATE user_profile
        SET deleted_at = #{closedAt, typeHandler=com.pk.infra.mybatis.typehandler.InstantTypeHandler},
            retention_until = #{retentionUntil, typeHandler=com.pk.infra.mybatis.typehandler.InstantTypeHandler},
            access_token = NULL,
            refresh_token = NULL,
            access_token_expires_at = NULL,
            updated_at = CURRENT_TIMESTAMP(3)
        WHERE id = #{profileId}
          AND deleted_at IS NULL
    </update>
</mapper>
