<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pk.infra.profile.mapper.UserIdentityAssetMapper">
    <insert id="insert">
        INSERT INTO user_identity_asset (profile_id, mobile_no, profile_version_id, id_card_hash,
            id_card_ciphertext, id_card_nonce, id_card_tag, full_name, id_card_image_encrypted_ref,
            face_photo_image_encrypted_ref, encryption_key_ref, ocr_channel, ocr_result_json)
        VALUES (#{profileId}, #{mobileNo}, #{profileVersionId}, #{idCardHash}, #{idCardCiphertext},
            #{idCardNonce}, #{idCardTag}, #{fullName}, #{idCardImageEncryptedRef},
            #{facePhotoImageEncryptedRef}, #{encryptionKeyRef}, #{ocrChannel}, #{ocrResultJson})
    </insert>
</mapper>
