<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pk.infra.loan.mapper.LoanStatusHistoryMapper">
    <insert id="insert">
        INSERT INTO loan_status_history (loan_application_id, from_status, to_status, external_status, source)
        VALUES (#{loanApplicationId}, #{fromStatus}, #{toStatus}, #{externalStatus}, #{source})
    </insert>
</mapper>
